:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --second-bg-color: #f5f4fa;
  --icon-color: #afb1b8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  background-color: var(--second-accent-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* HEADER */

.header-border {
  border-bottom: 1px solid #ececec;
}

.header-section {
  display: flex;
  align-items: center;
}

/* НАВИГАЦИЯ */

/* Логотип */
.logo {
  color: var(--accent-color);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo:focus {
  color: var(--title-text-color);
}

.nav-logo {
  color: #000000;
}

.nav {
  align-items: center;
  display: flex;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav > .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  display: block;

  color: var(--accent-color);
}

/* Контакты в меню*/

.contacts {
  display: flex;
  justify-content: center;
  margin-left: auto;
  align-items: center;
}

.contacts > .contacts-item + .contacts-item {
  margin-left: 50px;
}
.button-icon {
  border: 0;
  margin-right: 10px;

  fill: currentColor;
}

.link.icon-hov {
  display: flex;
  align-items: center;
}

.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

    font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* подчеркивание */

.underline {
  position: relative;
  display: block;
  text-decoration: none;
}

.underline::after {
  content: "";

  position: absolute;

  display: block;
  left: 0;
  bottom: 0;

  height: 4px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 2px;

  /* transform: scale(0.3, 0.5);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* .underline:hover::after {
  transform: scale(1, 1);
} */

.contacts .link {
  color: var(--primary-text-color);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.icon-hov .button-icon:hover,
.icon-hov .button-icon:focus {
  fill: var(--accent-color);
}

/* Уникальный контент страницы - MAIN */

/* ГЕРОЙ */
/* Кнопка Герой */

.hero {
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-img.jpg");

  background-size: cover;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-right: 0;
  padding-bottom: 200px;
  padding-left: 0;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  font-size: Black;
  text-transform: uppercase;
}

.hero-button {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent; /*делает бордер прозрачным*/
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  font-family: inherit;
  font-style: inherit;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-size: 16px;
  line-height: 1.8;
  font-weight: 700;
  letter-spacing: 0.06em;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  color: var(--second-accent-color);
  background-color: #188ce8;
}

/* Преимущества */

.features {
  max-width: 270px;
}

.features-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 30px; */
  border-radius: 4px;
  height: 120px;
  background-color: var(--second-bg-color);
}

.icon-antenna {
  justify-content: center;
}
.icon-clock {
  justify-content: center;
}
.icon-diagram {
  justify-content: center;
}
.icon-astronaut {
  justify-content: center;
}

.features:not(:last-child) {
  margin-right: 30px;
}

.feature-list-text {
  margin-bottom: 10px;
  margin-top: 30px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-list-description {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Примеры работ */

.section-exapmles {
  margin: 0;
  padding-top: 0px;
  padding-bottom: 94px;
}

.section-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 50px;

  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}

.section-img {
  position: relative;

  margin-left: 30px;
  max-width: calc((100%-60px) / 3);
}

.section-img:nth-last-child(3n) {
  margin-left: 0;
}

.examples-img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}

.img-descript {
  margin: 0;
  padding: 27px 82px 27px 82px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

/* Команда */

.team {
  text-align: center;
  background-color: var(--second-bg-color);
}

.team-img {
  margin-left: 30px;
  max-width: calc((100%-90px) / 4);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-img:nth-last-child(4n) {
  margin-left: 0;
}

.team-container {
  padding: 30px 10px;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-top: 0;

  background-color: var(--white-color);
}

.team-title {
  margin: 0 0 0 0;
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03em;
}

/* Секция паддинги и марджины */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-description {
  margin: 0 0 0 0;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03em;
}

/* -------------------------- */

.team-icons {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;

  width: 206px;
  /* height: 44px; */
}

.team-network-icons {
  display: flex;

  cursor: pointer;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);

  border-radius: 50%;
 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-network-icons:hover,
.team-network-icons:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
  border-radius: 50%;
}

.team-list {
  margin-right: 10px;
}
.team-list:nth-child(4n) {
  margin-right: 0;
}

/* Постоянные клиенты */

.customers {
  margin-top: 0;
}

.customers-list {
  width: 170px;
  height: 92px;
}

.customers-list:not(:last-child) {
  margin-right: 30px;
}

.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.customers-link:hover,
.customers-link:focus {
  border-color: var(--accent-color);
}
.customers-link:hover .customers-icon {
  fill: var(--accent-color);
}

.customers-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ФУТЕР */

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  color: var(--accent-color);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-section-logo {
  padding: 0;
  color: var(--white-color);
}

.address {
  margin-top: 20px;
  padding: 0;

  font-weight: normal;
  font-style: normal;
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;
}

.address-location {
  margin: 0 0 9px 0;
}

.address-location:not(:last-child) {
  margin-bottom: 9px;
}

.footer-section-contact {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-section-contact:not(:last-child) {
  margin-bottom: 9px;
}

.footer-section-contact:hover,
.footer-section-contact:focus {
  color: var(--second-accent-color);
}

/*  Иконки в подвале */

.icons-footer {
  margin-left: 70px;
}

.icons-title {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--white-color);
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.icons-footer-list {
  display: inline-flex;
}

.icons-list:not(:last-child) {
  margin-right: 10px;
}

.footer-icons-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.footer-icons-link:hover,
.footer-icons-link:focus {
  background-color: var(--accent-color);
}

.footer-icons-img {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* ПОРТФОЛИО */

/* Кнопки для портфолио */
.container-button {
  padding-top: 94px;
  justify-content: center;
}

.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  margin-right: 8px;

  color: var(--title-text-color);
  background-color: var(--second-bg-color);
  font-family: inherit;
  font-style: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button:nth-last-child(5n) {
  margin-right: 0;
}

/* Услуги компании */

.service {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-main {
  margin-bottom: 30px;
  margin-right: 30px;
  max-width: calc((100%-60px) / 3);
}

.text-decoration {
  display: block;
  padding: 0;
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-decoration:hover,
.text-decoration:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.service-img {
  position: relative;
  overflow: hidden;
}

.service-text {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 255ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-decoration:hover .service-text {
  transform: translateY(0);
}

.service-text-description {
  padding: 63px 24px 63px 24px;
  margin: 0;

  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;

  color: var(--white-color);
}

.service-main:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.service-main:nth-child(3n) {
  margin-right: 0;
}

.service-border {
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
}

.service-title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.service-description {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  z-index: 999;

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scaleX(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  fill: #000000;
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
